@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5aeca;
  background-image: linear-gradient(315deg, #f5aeec 0%, #ec56b3 74%);
  cursor: url(https://img.icons8.com/external-colours-bomsymbols-/32/000000/external-arrow-cursor-digital-design-colors-set-1-colours-bomsymbols--3.png),
    auto;
}
